{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title> Tikma | {{TITLE|default:''}}</title>
    <style type="text/css">
        table.vb-row.halfpad {
            border-spacing: 0;
            padding-left: 9px;
            padding-right: 9px;
        }
        table.vb-row.fullwidth {
            border-spacing: 0;
            padding: 0;
        }
        table.vb-container.fullwidth {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
    <style type="text/css">
        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }
        .yshortcuts a {
            border-bottom: none !important;
        }
        .vb-outer {
            min-width: 0 !important;
        }
        .RMsgBdy,
        .ExternalClass {
            width: 100%;
            background-color: #3f3f3f;
            background-color: #262324
        }
        /* outlook */
        table {
            mso-table-rspace: 0pt;
            mso-table-lspace: 0pt;
        }
        #outlook a {
            padding: 0;
        }
        img {
            outline: none;
            text-decoration: none;
            border: none;
            -ms-interpolation-mode: bicubic;
        }
        a img {
            border: none;
        }
        @media screen and (max-device-width: 600px),
        screen and (max-width: 600px) {
            table.vb-container,
            table.vb-row {
                width: 95% !important;
            }
            .mobile-hide {
                display: none !important;
            }
            .mobile-textcenter {
                text-align: center !important;
            }
            .mobile-full {
                float: none !important;
                width: 100% !important;
                max-width: none !important;
                padding-right: 0 !important;
                padding-left: 0 !important;
            }
            img.mobile-full {
                width: 100% !important;
                max-width: none !important;
                height: auto !important;
            }
        }
    </style>
    <style type="text/css">
        #ko_textBlock_7 .links-color a,
        #ko_textBlock_7 .links-color a:link,
        #ko_textBlock_7 .links-color a:visited,
        #ko_textBlock_7 .links-color a:hover {
            color: #3f3f3f;
            color: #3f3f3f;
            text-decoration: underline;
        }

        #ko_socialBlock_5 .links-color a:visited,
        #ko_socialBlock_5 .links-color a:hover {
            color: #ccc;
            color: #ccc;
            text-decoration: underline;
        }

        #ko_footerBlock_2 .links-color a,
        #ko_footerBlock_2 .links-color a:link,
        #ko_footerBlock_2 .links-color a:visited,
        #ko_footerBlock_2 .links-color a:hover {
            color: #ccc;
            color: #ccc;
            text-decoration: underline;
        }
    </style>
</head>
<body bgcolor="#262324" text="#919191" alink="#cccccc" vlink="#cccccc" style="margin: 0;padding: 0;background-color: #262324;color: #919191;">
    <center>
        <table class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#fff" style="background-color: #fff;" id="ko_buttonBlock_4">
            <tbody>
                <tr>
                    <td class="vb-outer" align="center" valign="top" bgcolor="#1d3543" style="padding-left: 9px;padding-right: 9px;background-color: #262324;">
                        <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]-->
                        <div class="oldwebkit" style="max-width: 570px;">
                            <table width="570" border="0" cellpadding="0" cellspacing="18" class="vb-container fullpad" bgcolor="#ffffff" style="border-collapse: separate;border-spacing: 18px;padding-left: 0;padding-right: 0;width: 100%;max-width: 570px;background-color: #262324;">
                                <tbody>
                                    <tr>
                                        <td valign="top" align="center" style="background-color: #262324;">
                                            <table cellpadding="0" border="0" align="center" cellspacing="0" class="mobile-full">
                                                <tbody>
                                                    <tr>
                                                        <td width="auto" valign="middle" align="center" style="padding-left: 14px; padding-right: 14px; background-color: #262324; border-radius: 4px;">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
                    </td>
                </tr>
            </tbody>
        </table>
        {%block content%}
        <table class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#fff" style="background-color: #fff;" id="ko_titleBlock_6">
            <tbody>
                <tr>
                    <td class="vb-outer" align="center" valign="top" bgcolor="#fff" style="padding-left: 9px;padding-right: 9px;background-color: #fff;">
                        <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]-->
                        <div class="oldwebkit" style="max-width: 570px;">
                            <table width="570" border="0" cellpadding="0" cellspacing="9" class="vb-container halfpad" bgcolor="#ffffff" style="border-collapse: separate;border-spacing: 9px;padding-left: 9px;padding-right: 9px;width: 100%;max-width: 570px;background-color: #fff;">
                                <tbody>
                                    <tr>
                                        <td bgcolor="#ffffff" align="center" style="background-color: #ffffff; font-size: 22px; font-family: Arial, Helvetica, sans-serif; color: #3f3f3f; text-align: center;">
                                            <span>Formulario de Contacto</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#fff" style="background-color: #fff;" id="ko_textBlock_7">
            <tbody>
                <tr>
                    <td class="vb-outer" align="center" valign="top" bgcolor="#fff" style="padding-left: 9px;padding-right: 9px;background-color: #fff;">
                        <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]-->
                        <div class="oldwebkit" style="max-width: 570px;">
                            <table width="570" border="0" cellpadding="0" cellspacing="18" class="vb-container fullpad" bgcolor="#ffffff" style="border-collapse: separate;border-spacing: 18px;padding-left: 0;padding-right: 0;width: 100%;max-width: 570px;background-color: #fff;">
                                <tbody>
                                    {% for field in form %}
                                    {% if field.label %}
                                    <tr>
                                        <td align="left" class="long-text links-color" style="text-align: left; font-size: 20px; font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;">
                                            <p style="margin: 1em 0px;margin-bottom: 0px;margin-top: 0px;"><b>{{field.label}}:</b></p>
                                        </td>
                                        <td align="left" class="long-text links-color" style="text-align: left; font-size: 20px; font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;">
                                            <p style="margin: 1em 0px;margin-bottom: 0px;margin-top: 0px;"><i>{{field.value}}</i></p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
                    </td>
                </tr>
            </tbody>
        </table>
        {% endblock %}
        
        <table width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#262324" style="background-color: #262324;" id="ko_socialBlock_5">
            <tbody>
                <tr>
                    <td align="center" valign="top" bgcolor="#262324" style="background-color: #262324;">
                        <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]-->
                        <div class="oldwebkit" style="max-width: 570px;">
                            <table width="570" style="border-collapse: separate;border-spacing: 9px;width: 100%;max-width: 570px;" border="0" cellpadding="0" cellspacing="9" class="vb-row fullpad" align="center">
                                <tbody>
                                    <tr>
                                        <td valign="top" align="center" style="font-size: 0;">
                                            <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="552"><tr><![endif]-->
                                            <!--[if (gte mso 9)|(lte ie 8)]><td align="left" valign="top" width="276"><![endif]-->
                                            <div style="display: inline-block; max-width: 520px; vertical-align: top; width: 100%;" class="mobile-full">
                                                <table class="vb-content" border="0" cellspacing="9" cellpadding="0" width="276" style="border-collapse: separate;width: 100%;" align="left">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="middle" align="left" class="long-text links-color mobile-textcenter" style="font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #919191; text-align: left;">
                                                                <p style="margin: 1em 0px;margin-bottom: 0px;margin-top: 0px;">Todos los Derechos Reservados.</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!--[if (gte mso 9)|(lte ie 8)]></td>
                                            <td align="left" valign="top" width="276">
                                            <![endif]-->
                                            <!--[if (gte mso 9)|(lte ie 8)]></td><![endif]-->
                                            <!--[if (gte mso 9)|(lte ie 8)]></tr></table><![endif]-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>
