{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>OM8</title>
	<meta name="description" content="...">

	<meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1, user-scalable=0">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- up to 10% speed up for external res -->
	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<!-- preloading icon font is helping to speed up a little bit -->
	<link rel="preload" href="{% static 'fonts/flaticon/Flaticon.woff2' %}" as="font" type="font/woff2" crossorigin>
	<link rel="stylesheet" href="{% static 'fonts/icon-awesome/css/all.min.css' %}">
	<!-- non block rendering : page speed : js = polyfill for old browsers missing `preload` -->
	<link rel="stylesheet" href="{% static 'css/core.min.css' %}">
	<link rel="stylesheet" href="{% static  'css/vendor_bundle.min.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">
	<link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.min.css' %}">
	<!-- favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="{% static 'demo.files/logo/icon_512x512.png' %}">


	<meta name="theme-color" content="#377dff">
	<style>
		.float{
			position:fixed;
			width:70px;
			height:70px;
			bottom:250px;
			right:10px;
			color:#FFF;
			text-align:center;
			z-index:100;
		}
		.float2{
			position:fixed;
			width:70px;
			height:70px;
			bottom:170px;
			right:10px;
			background-color:#c72e48;
			color:#FFF;
			border-radius:50px;
			text-align:center;
			font-size:40px;
			box-shadow: 1px 1px 2px rgb(63, 24, 24);
			z-index:100;
		}
		.float3{
			position:fixed;
			width:70px;
			height:70px;
			bottom:80px;
			right:10px;
			background-color:#0078FF;
			color:#FFF;
			border-radius:50px;
			text-align:center;
			font-size:48px;
			box-shadow: 1px 1px 2px #00C6FF;
			z-index:100;
		}
		.my-float{
			margin-top:16px;
		}
	</style>
</head>

<body class="header-sticky ">
	<div id="wrapper">
		<!-- HEADER -->
		<header id="header" class="shadow-xs" style="background-color: black;">
			<div id="top_bar" class="fs--14" style="background-color: black;">
				<div class="container">
					<div class="text-nowrap">
						<div class="d-flex justify-content-between">
							<div class="d-inline-block float-start">
								<ul class="list-inline m-0">
									<li class="dropdown list-inline-item m-0">
										{% get_current_language as LANGUAGE_CODE %}
										{% if LANGUAGE_CODE == 'en' %}
										<a id="spanish" href="#!" class="py-2 d-inline-block">
											<i class="flag flag-mx"></i>
											<span class="fs--14 text-white pl-2 pr-2">ESPAÑOL</span>
										</a>
										{% else %}
										<a id="english" href="#!" class="py-2 d-inline-block">
											<i class="flag flag-us"></i>
											<span class="fs--14 text-white pl-2 pr-2">ENGLISH</span>
										</a>
										{% endif %}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container position-relative">
				<nav
					class="navbar navbar-expand-lg navbar-dark text-white justify-content-lg-between justify-content-md-inherit">
					<div class="align-items-start">
						<!-- mobile menu button : show -->
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainNav"
							aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
							<svg width="25" viewBox="0 0 20 20">
								<path fill="#fff"
									d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z">
								</path>
								<path fill="#fff"
									d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z">
								</path>
								<path fill="#fff"
									d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z">
								</path>
								<path fill="#fff"
									d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z">
								</path>
							</svg>
						</button>
						<!-- 
								Logo : height: 70px max
							-->
						<a class="navbar-brand" href="/">
							<img src="{% static 'images/logo/logotipo.svg' %}" height="70px" alt="...">
						</a>
					</div>
					<div class="collapse navbar-collapse navbar-animate-fadein" id="navbarMainNav">
						<div class="navbar-xs d-none">
							<button class="navbar-toggler pt-0" type="button" data-toggle="collapse"
								data-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false"
								aria-label="Toggle navigation">
								<svg width="20" viewBox="0 0 20 20">
									<path
										d="M 20.7895 0.977 L 19.3752 -0.4364 L 10.081 8.8522 L 0.7869 -0.4364 L -0.6274 0.977 L 8.6668 10.2656 L -0.6274 19.5542 L 0.7869 20.9676 L 10.081 11.679 L 19.3752 20.9676 L 20.7895 19.5542 L 11.4953 10.2656 L 20.7895 0.977 Z">
									</path>
								</svg>
							</button>
							<a class="navbar-brand" href="/">
								<img src="{% static 'images/logo/logotipo.svg' %}" width="420rem" alt="...">
							</a>
						</div>
						<ul class="navbar-nav">
							<li class="nav-item d-block d-sm-none">
								<div class="mb-4">
									<img width="600" height="600" class="img-fluid"
										src="demo.files/svg/artworks/people_crossbrowser.svg" alt="...">
								</div>
							</li>
							<li class="nav-item dropdown">
								<a href="#about_us" id="mainNavDocumentation"
									class="nav-link nav-link-caret-hide text-white fs--20">
									<span><img src="{% static 'images/icons/nosotros.svg'%}" height="24em"></span><span>
										{% trans 'Nosotros' %}</span>
								</a>
							</li>
							<li class="nav-item dropdown">
								<a href="#products" id="mainNavDocumentation"
									class="nav-link nav-link-caret-hide text-white fs--20">
									<span><img src="{% static 'images/icons/productos-01.svg'%}"
											height="25em"></span><span> {% trans 'Productos' %}</span>
								</a>
							</li>
							<li class="nav-item dropdown">
								<a href="#recipes" id="mainNavDocumentation"
									class="nav-link nav-link-caret-hide text-white fs--20">
									<span><img src="{% static 'images/icons/productos-01.svg'%}"
											height="25em"></span><span> {% trans 'Recetas' %}</span>
								</a>
							</li>
							<li class="nav-item dropdown">
								<a href="#customers" id="mainNavDocumentation"
									class="nav-link nav-link-caret-hide text-white fs--20">
									<span><img src="{% static 'images/icons/clientes.svg'%}" height="25em"></span><span>
										{% trans 'Clientes' %}</span>
								</a>
							</li>
							<li class="nav-item dropdown">
								<a href="#stores" id="mainNavDocumentation"
									class="nav-link nav-link-caret-hide text-white fs--20">
									<span><img src="{% static 'images/icons/tienda.svg'%}" height="25em"></span><span>
										{% trans 'Tiendas' %}</span>
								</a>
							</li>
							<!-- social : mobile only (d-block d-sm-none)-->
							<li class="nav-item d-block d-sm-none text-center mb-4">
								<h3 class="h6 text-muted">{% trans 'Siguenos' %}</h3>
								<a href="#!"
									class="btn btn-sm btn-facebook transition-hover-top mb-2 rounded-circle text-white"
									rel="noopener">
									<i class="fi fi-social-facebook"></i>
								</a>
								<a href="#!"
									class="btn btn-sm btn-twitter transition-hover-top mb-2 rounded-circle text-white"
									rel="noopener">
									<i class="fi fi-social-twitter"></i>
								</a>
								<a href="#!"
									class="btn btn-sm btn-linkedin transition-hover-top mb-2 rounded-circle text-white"
									rel="noopener">
									<i class="fi fi-social-linkedin"></i>
								</a>
								<a href="#!"
									class="btn btn-sm btn-youtube transition-hover-top mb-2 rounded-circle text-white"
									rel="noopener">
									<i class="fi fi-social-youtube"></i>
								</a>
							</li>
						</ul>
					</div>
					<ul class="list-inline list-unstyled mb-0 d-flex align-items-end">
						<li class="list-inline-item mx-1 dropdown">
							<a href="https://www.instagram.com/om8_mx/" target="_blank" aria-label="website search"
								class="btn-sow-search-toggler btn btn-sm rounded-circle btn-black btn-soft-static text-white">
								<i class="fi fi-social-instagram"></i>
							</a>
						</li>
						<li class="list-inline-item mx-1 dropdown">
							<a href="https://www.facebook.com/deliom8" target="_blank" aria-label="website search"
								class="btn-sow-search-toggler btn btn-sm rounded-circle btn-black btn-soft-static text-white">
								<i class="fi fi-social-facebook"></i>
							</a>
						</li>
						<li class="list-inline-item mx-1 dropdown">
							<a href="https://www.pinterest.com.mx/00w5b9ux8suv73u8j0q9t5abmark7g/" target="_blank" aria-label="website search"
								class="btn-sow-search-toggler btn btn-sm rounded-circle btn-black btn-soft-static text-white">
								<i class="fi fi-social-pinterest"></i>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		{% block content %}
		{% endblock %}
		<!-- Footer -->
		<footer id="footer" class="footer-dark">
			<div class="bg-distinct py-3 clearfix">
				<div class="container clearfix font-weight-light text-center-xs position-relative">
					<div class="clearfix float-start float-none-xs">
						<div class="fs--14 py-2 float-start float-none-xs m-0-xs text-white">
							<a>{% trans 'Aviso de privacidad' %}</a>
							<p class="mt-3">© Orígenes Milenarios SA de CV | OM8® Agavezucar® | info@om8.mx</p>
						</div>
						<div class="clearfix mt-2 d-block d-sm-none"><!-- mobile spacer --></div>
					</div>
					<!-- credit card -->
					<ul class="list-inline mb-0 mt-4 text-white float-end float-none-xs">
						<li class="list-inline-item mx-1 dropdown">
							<p>Tel. +52 (55) 5618 5055</p>
						</li>
						<li class="list-inline-item mx-1 dropdown">
							<a href="https://www.instagram.com/om8_mx/" target="_blank" aria-label="website search"
								class="btn-sow-search-toggler btn btn-sm rounded-circle btn-black btn-soft-static text-white">
								<i class="fi fi-social-instagram"></i>
							</a>
						</li>
						<li class="list-inline-item mx-1 dropdown">
							<a href="https://www.facebook.com/deliom8" target="_blank" aria-label="website search"
								class="btn-sow-search-toggler btn btn-sm rounded-circle btn-black btn-soft-static text-white">
								<i class="fi fi-social-facebook"></i>
							</a>
						</li>
						<li class="list-inline-item mx-1 dropdown">
							<a href="https://www.pinterest.com.mx/00w5b9ux8suv73u8j0q9t5abmark7g/" target="_blank" aria-label="website search"
								class="btn-sow-search-toggler btn btn-sm rounded-circle btn-black btn-soft-static text-white">
								<i class="fi fi-social-pinterest"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
		<!-- /Footer -->
	</div>
	<script src="{% static 'js/core.min.js' %}"></script>
	<script src="{% static 'js/vendor_bundle.min.js' %}"></script>
	<script src="{% static 'owlcarousel/owl.carousel.min.js' %}"></script>
	<script>
		var owl = $('.owl-carousel');
			owl.owlCarousel({
				items:4,
				loop:true,
				margin:10,
				autoplay:true,
				autoplayTimeout:1000,
				autoplayHoverPause:true
			});
	</script>
	<script>
		
		$('#spanish').click(function () {
			$.ajax({
				type: "POST",
				url: "{% url 'set_language' %}",
				data: { 'language': 'es', 'csrfmiddlewaretoken': '{{ csrf_token }}' },
				success: function (response) {
					location.reload();
				},
				error: function (rs, e) {
					alert(e);
				}
			});
		})
		$('#english').click(function () {
			$.ajax({
				type: "POST",
				url: "{% url 'set_language' %}",
				data: { 'language': 'en', 'csrfmiddlewaretoken': '{{ csrf_token }}' },
				success: function (response) {
					console.log('ingles');
					
					location.reload();
				},
				error: function (rs, e) {
					alert(e);
				}
			});
		})
	</script>
	{% block js %}
	{% endblock %}
	<a href="" class="float" target="_blank">
		<img src="{% static 'images/trofeo.svg'%}" height="100%">
	</a>
	<a href="https://listado.mercadolibre.com.mx/om8-agavezucar#D[A:om8%20agavezucar" class="float2" target="_blank">
		<i class="fi fi-cart-7 mt-2"></i>
	</a>
	<a href="" class="float3" target="_blank">
		<i class="fab fa-facebook-messenger mt-2"></i>
	</a>
</body>

</html>