{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<section class="swiper-container swiper-btn-group swiper-btn-group-end text-white p-0 h-100vh overflow-hidden"
	data-swiper='{
					"slidesPerView": 1,
					"spaceBetween": 0,
					"autoplay": { "delay" : 4500, "disableOnInteraction": false },
					"loop": true,
					"effect": "fade",
					"pagination": { "type": "bullets" }
				}'>
	<div class="swiper-wrapper h-100">
		<div class="lazy h-100 swiper-slide d-middle bg-white overlay-dark overlay-opacity-1 d-middle bg-cover"
			style="background-image:url('{% static 'images/slide/slide1.jpg'%}')"></div>
		<div class="lazy h-100 swiper-slide d-middle bg-white overlay-dark overlay-opacity-1 bg-cover"
			style="background-image:url('{% static 'images/slide/slide2.jpg'%}')"></div>
		<div class="lazy h-100 swiper-slide d-middle bg-white overlay-dark overlay-opacity-1 bg-cover"
			style="background-image:url('{% static 'images/slide/slide3.jpg'%}')"></div>
		<div class="lazy h-100 swiper-slide d-middle bg-white overlay-dark overlay-opacity-1 bg-cover"
			style="background-image:url('{% static 'images/slide/slide4.jpg'%}')"></div>
		<div class="lazy h-100 swiper-slide d-middle bg-white overlay-dark overlay-opacity-1 bg-cover"
			style="background-image:url('{% static 'images/slide/slide5.jpg'%}')"></div>
		<div class="lazy h-100 swiper-slide d-middle bg-white overlay-dark overlay-opacity-1 bg-cover"
			style="background-image:url('{% static 'images/slide/slide6.jpg'%}')"></div>
		<div class="lazy h-100 swiper-slide d-middle bg-white overlay-dark overlay-opacity-1 bg-cover"
			style="background-image:url('{% static 'images/slide/slide7.jpg'%}')"></div>
		<div class="lazy h-100 swiper-slide d-middle bg-white overlay-dark overlay-opacity-1 bg-cover"
			style="background-image:url('{% static 'images/slide/slide8.jpg'%}')"></div>
		<div class="lazy h-100 swiper-slide d-middle bg-white overlay-dark overlay-opacity-1 bg-cover"
			style="background-image:url('{% static 'images/slide/slide9.jpg'%}')"></div>
		<div class="lazy h-100 swiper-slide d-middle bg-white overlay-dark overlay-opacity-1 bg-cover"
			style="background-image:url('{% static 'images/slide/slide10.jpg'%}')"></div>
	</div>
	<!-- Add Arrows -->
	<div class="swiper-button-next swiper-button-white"></div>
	<div class="swiper-button-prev swiper-button-white"></div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
</section>
			</section>	
</section>

<section id="about_us" class="overlay-dark overlay-opacity-9 text-white bg-cover lazy">
	<div class="container">
		<div class="row d-middle">
			<h1>{% trans 'Nosotros' %}</h1>
			<div class="col-lg-12 mb-4 " data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
				<div class="row text-left">
					<div class="col-sm-2 col-md-2 col-lg-2 ">
						<img src="{% static 'images/icons/mundo.svg'%}" height="150em">
					</div>
					<div class="col-sm-10 col-md-10 col-lg-10 my-auto">
						<p class="fs--20"> {% trans 'OM8® se origina con la misión de Nutrir al Mundo con Mejores Oportunidades de Alimentación para una Vida más Larga y Saludable' %}</p>
					</div>
					<div class="col-sm-10 col-md-10 col-lg-10 my-auto">
						<p class="fs--20">{% trans 'Creemos que los alimentos además de ser saludables y deliciosos al paladar, deben lograr la sustentabilidad social y ambiental.' %}</p>
					</div>
					<div class="col-sm-12 col-md-2 col-lg-2 ">
						<img src="{% static 'images/icons/smile.svg'%}" height="150em">
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2 ">
						<img src="{% static 'images/icons/productosdos-01.svg'%}" height="150em">
					</div>
					<div class="col-sm-10 col-md-10 col-lg-10 my-auto">
						<p class="fs--20">{% trans 'A través de permanentes investigaciones, innovaciones y sobre todo trabajo en equipo con las comunidades, hemos desarrollado más de +40 productos. '%}</p>
					</div>
					<div class="col-sm-10 col-md-10 col-lg-10 my-auto">
						<p class="fs--20">{% trans 'Utilizamos materias primas endémicos-ancestrales descubiertas y consumidas desde hace miles de años por nuestras antiguas civilizaciones. '%}</p>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2 ">
						<img src="{% static 'images/icons/piramide2.svg'%}" height="150em">
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2 ">
						<img src="{% static 'images/icons/mapamexico-01.svg'%}" height="150em">
					</div>
					<div class="col-sm-10 col-md-10 col-lg-10 my-auto">
						<p class="fs--20">{% trans 'La mayoría de nuestras materias primas son orgullosamente mexicanas, de calidad de exportación y muchas de ellas emblemas mundiales de la mexicanidad. '%}</p>
					</div>
					<h1 class="mt-5 offset-5 text-center">{% trans 'Visión' %} 2030</h1>
					<div class="col-sm-10 col-md-10 col-lg-10 my-auto">
						<p class="fs--20">{% trans 'Seguir transformando la alimentación de nuestras comunidades y el mundo, posicionándonos como uno de los proveedores líderes en la industria emergente de alimentos funcionales.' %}</p>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2 ">
						<img src="{% static 'images/icons/visión-01.svg'%}" height="170em">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="products" class="overlay-dark overlay-opacity-10 text-white bg-cover lazy"
	data-background-image="demo.files/images/various/caffe/caffe_slider_1-min.jpg">
	<div class="container" data-aos="fade-in" data-aos-delay="200" data-aos-offset="0">
		<h2 class="h1-xs display-5 mb-5 font-weight-medium text-center">
			{% trans 'Productos' %}
		</h2>
		<div class="row">
			<div class="owl-carousel">
				<div class="item"><img src="{% static 'images/products/CHOCOAVELLANA.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/CAFE.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/untablechia.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/cafe.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/untableamaranto.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/chocolateoriginal.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/botellavidrio.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/botellagrande.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/product1.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/mermeladajamaica.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/COCOAOM8.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/mermeladahigo.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/mermeladaguayaba.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/mermeladamango.png'%}"></div>
				<div class="item"><img src="{% static 'images/products/fresazarzamora.png'%}"></div>
			</div>
		</div>
	</div>
</section>
<section id="section_about" class="overlay-dark overlay-opacity-9 text-white bg-cover lazy">
	<div class="container">
		<div class="max-w-600 mx-auto text-center mb-6">
			<h1>
				{% trans 'Evolución OM8' %}&reg;
			</h1>
		</div>
		<div class="row text-center">
			<div class="col-lg-2 col-sm-2 offset-1">
				<span><img src="{% static 'images/icons/tiempo-01.svg'%}" height="110em"></span>
				<h4 class="mt-2">2013-2020</h4>
				<span class="d-block fs--17">{% trans 'Años' %}</span>
			</div>
			<div class="col-6 col-sm-2">
				<span><img src="{% static 'images/icons/productosdos-01.svg'%}" height="110em"></span>
				<div class="h3 d-block font-weight-light mt-2">
					<span class="fs--20">1-</span>

					<span class="pricetable-count" data-toggle="count" data-count-decimals="" data-count-from="0"
						data-count-to="40" data-count-duration="1000" data-count-toggle='[
							{"from":"0", "to":"40", "duration":800},
							{"from":"40", "to":"49", "duration":800}
						]'>40</span>
				</div>
				<span class="d-block fs--17">{% trans 'Productos' %}</span>

			</div>
			<div class="col-6 col-sm-2">
				<span><img src="{% static 'images/icons/alfiler.svg'%}" height="110em"></span>
				<div class="h3 d-block font-weight-light mt-2">
					<span class="fs--20">1-</span>

					<span class="pricetable-count" data-toggle="count" data-count-decimals="" data-count-from="0"
						data-count-to="150" data-count-duration="1000" data-count-toggle='[
							{"from":"0", "to":"150", "duration":800},
							{"from":"150", "to":"159", "duration":800}
						]'>150</span>
				</div>
				<span class="d-block fs--17">{% trans 'Ciudades' %}</span>

			</div>
			<div class="col-6 col-sm-2">
				<span><img src="{% static 'images/icons/tienda-01.svg'%}" height="110em"></span>
				<div class="h3 d-block font-weight-light mt-2">
					<span class="fs--20">1-</span>
					<span class="pricetable-count" data-toggle="count" data-count-decimals="" data-count-from="0"
						data-count-to="618" data-count-duration="1000" data-count-toggle='[
							{"from":"0", "to":"618", "duration":800},
							{"from":"618", "to":"628", "duration":800}
						]'>618</span>
				</div>
				<span class="d-block fs--17">{% trans 'Tiendas' %}</span>
			</div>
			<div class="col-6 col-sm-2">
				<span><img src="{% static 'images/icons/familia.svg'%}" height="110em"></span>
				<div class="h3 d-block font-weight-light mt-2">
					<span class="fs--20">1-</span>
					<span class="pricetable-count" data-toggle="count" data-count-decimals="" data-count-from="0"
						data-count-to="3873250" data-count-duration="1000" data-count-toggle='[
							{"from":"0", "to":"3873250", "duration":800},
							{"from":"3873250", "to":"3873260", "duration":800}
						]'>3,873,250</span>
				</div>
				<span class="d-block fs--17">{% trans 'Familias' %}</span>
			</div>
		</div>
	</div>
</section>

<section id="" class="overlay-dark overlay-opacity-10 text-white bg-cover lazy">
	<div class="container">
		<h2 class="h1-xs display-5 mb-6 font-weight-medium text-center" data-aos="fade-in" data-aos-delay="0"
			data-aos-offset="0">
			{% trans 'Lista de Productos' %}
		</h2>
		<div class="row gutters-sm gutters-xs--xs">
			<div class="col-sm-12 col-lg-4 mb-3 mb-2-xs">
				<a class="h-100 position-relative d-flex flex-wrap align-items-center justify-content-center text-decoration-none text-white mb-4 text-center overflow-hidden overlay-dark overlay-opacity-4 rounded shadow-primary-xs transition-hover-top transition-all-ease-150 bg-cover lazy"
					data-loaded="true" href="#agavezucar" style="background-image: url('{% static 'images/products/slide1.jpg'%}');">
					<img class="w-100"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiA5IiAvPg=="
						alt="...">
					<h3 class="position-absolute z-index-2">
						Agavezucar
					</h3>
				</a>
			</div>
			<div class="col-sm-12 col-lg-4 mb-3 mb-2-xs">
				<a class="h-100 position-relative d-flex flex-wrap align-items-center justify-content-center text-decoration-none text-white mb-4 text-center overflow-hidden overlay-dark overlay-opacity-4 rounded shadow-primary-xs transition-hover-top transition-all-ease-150 bg-cover lazy"
					data-loaded="true" href="#gourmetom" style="background-image: url({% static 'images/products/JAMAICA.jpg'%});">
					<img class="w-100"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiA5IiAvPg=="
						alt="...">
					<h3 class="h5-xs position-absolute z-index-2">
						GourmetOM
					</h3>
				</a>
			</div>
			<div class="col-sm-12 col-lg-4 mb-3 mb-2-xs">
				<a class="h-100 position-relative d-flex flex-wrap align-items-center justify-content-center text-decoration-none text-white mb-4 text-center overflow-hidden overlay-dark overlay-opacity-4 rounded shadow-primary-xs transition-hover-top transition-all-ease-150 bg-cover lazy"
					data-loaded="true" href="#kitom" style="background-image: url({% static 'images/products/MRV_9963.jpg'%});">
					<img class="w-100"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiA5IiAvPg=="
						alt="...">
					<h3 class="h5-xs position-absolute z-index-2">
						KitOM
					</h3>
				</a>
			</div>
			<div class="col-sm-12 col-lg-4 mb-3 mb-2-xs">
				<a class="h-100 position-relative d-flex flex-wrap align-items-center justify-content-center text-decoration-none text-white mb-4 text-center overflow-hidden overlay-dark overlay-opacity-4 rounded shadow-primary-xs transition-hover-top transition-all-ease-150 bg-cover lazy"
					data-loaded="true" href="#deliom" style="background-image: url('{% static 'images/products/MRV_9899.jpg'%}');">
					<img class="w-100"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiA5IiAvPg=="
						alt="...">
					<h3 class="position-absolute z-index-2">
						DeliOM
					</h3>
				</a>
			</div>
			<div class="col-sm-12 col-lg-4 mb-3 mb-2-xs">
				<a class="h-100 position-relative d-flex flex-wrap align-items-center justify-content-center text-decoration-none text-white mb-4 text-center overflow-hidden overlay-dark overlay-opacity-4 rounded shadow-primary-xs transition-hover-top transition-all-ease-150 bg-cover lazy"
					data-loaded="true" href="#nutriom" style="background-image: url({% static 'images/products/FOTOCAFE.jpg'%});">
					<img class="w-100"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiA5IiAvPg=="
						alt="...">
					<h3 class="h5-xs position-absolute z-index-2">
						NutriOM
					</h3>
				</a>
			</div>
			<div class="col-sm-12 col-lg-4 mb-3 mb-2-xs">
				<a class="h-100 position-relative d-flex flex-wrap align-items-center justify-content-center text-decoration-none text-white mb-4 text-center overflow-hidden overlay-dark overlay-opacity-4 rounded shadow-primary-xs transition-hover-top transition-all-ease-150 bg-cover lazy"
					data-loaded="true" href="#powerom" style="background-image: url({% static 'images/products/slide10.jpg'%});">
					<img class="w-100"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiA5IiAvPg=="
						alt="...">
					<h3 class="h5-xs position-absolute z-index-2">
						PowerOM
					</h3>
				</a>
			</div>
		</div>
	</div>
</section>

<section id="agavezucar" class="overlay-dark overlay-opacity-9 text-white bg-cover lazy">
	<div class="container z-index-1">
		<div class=" text-center mb-7">
			<h2 class="h1 font-weight-light">
				Agavezucar&reg;
			</h2>
			<p>{% trans 'Agave Azucar ® Edulcorante 100% natural, bajo IG 17' %}</p>
		</div>
		<div class="row">
			<div class="col-12 col-lg-6 mb-3 text-center">
				<img src="{% static 'images/products/AgaveProducts.png'%}" width="80%">
			</div>
			<div class="col-12 col-lg-6 text-center">
				<h3>{% trans 'Da click y compra' %}</h3>
				<div class="row mt-4">
					<div class="col-4">
						<a href="https://super.walmart.com.mx/mermeladas-y-miel/jarabe-de-agave-agavezucar-liquido-340-g/00750046201482?gclid=CjwKCAjw4rf6BRAvEiwAn2Q76jiXlLAu6Vy-dWfQ2Gf10qUjtBGcjHH50l8sczCznNMOrVv4S5KONhoCwlkQAvD_BwE"
							target="_blank">
							<img src="{% static 'images/tiendas/walmart.jpg'%}" width="50%">
						</a>
					</div>
					<div class="col-4">
						<a href="https://www.superama.com.mx/catalogo/d-despensa/f-despensa-saludable/l-despensa-organicos/jarabe-de-agave-agavezucar-liquido-680-g/0750046201483?gclid=CjwKCAjw4rf6BRAvEiwAn2Q76uHXatHh4aF4NyU92U2F4jUPRf4yGqY3SDBbejEfadk7e-auXlQ4rRoCeq8QAvD_BwE"
							target="_blank"><img src="{% static 'images/tiendas/superama.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4">
						<a href="https://www.lacomer.com.mx/lacomer/doHome.action?succId=287&succFmt=100&pasId=513&artEan=7500326548864&ver=detallearticulo&opcion=detarticulo"
							target="_blank"><img src="{% static 'images/tiendas/lacomer.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.lacomer.com.mx/lacomer/doHome.action?succId=287&succFmt=100&pasId=513&artEan=7500326532627&ver=detallearticulo&opcion=detarticulo"
							target="_blank"><img src="{% static 'images/tiendas/citymarket.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.chedraui.com.mx/Departamentos/S%C3%BAper/Despensa/Mermeladas-y-Mieles/Jarabe-de-Agave-Agavezucar-OM8-L%C3%ADquido-340g/p/000000000003456180?epaRT=10123694594&gclid=CjwKCAjw4rf6BRAvEiwAn2Q76o4eW8HsaMAwhdd2lszrWMVKFGloYvLnvahX5eu-WsVbZ0jF7M194hoCYsEQAvD_BwE&siteName=Sitio+de+Chedraui"
							target="_blank"><img src="{% static 'images/tiendas/chedraui.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.lacomer.com.mx/lacomer/doHome.action?succId=287&succFmt=100&pasId=513&artEan=7500326532627&ver=detallearticulo&opcion=detarticulo"
							target="_blank"><img src="{% static 'images/tiendas/fresko.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.elpalaciodehierro.com/origenes-mexicanos-agavezucar-355-g-40048995.html"
							target="_blank"><img src="{% static 'images/tiendas/palaciodehierro.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.liverpool.com.mx/tienda/pdp/jarabe-de-agave-agavezucar-om8-680-g/1054320368?gfeed=true&gclid=CjwKCAjw4rf6BRAvEiwAn2Q76hk5y3IMcjETBbM_n0ZfjGFQoHvhv6ZEdu3VzzqK2VVpBzrVPRt-LBoCAF0QAvD_BwE&gclsrc=aw.ds"
							target="_blank"><img src="{% static 'images/tiendas/liverpool.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a><img src="{% static 'images/tiendas/laeuropea.jpg'%}" width="50%"></a>
					</div>

					<div class="col-4 mt-1">
						<a><img src="{% static 'images/tiendas/sanborns.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.sears.com.mx/producto/216500/jarabe-de-agave-355-g-agavezucar/"
							target="_blank"><img src="{% static 'images/tiendas/sears.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://listado.mercadolibre.com.mx/om8-agavezucar#D[A:om8%20agavezucar]"
							target="_blank"><img src="{% static 'images/tiendas/mercadolibre.jpg'%}" width="50%"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="gourmetom" class="overlay-dark overlay-opacity-10 text-white bg-cover lazy">
	<div class="container z-index-1">
		<div class=" text-center mb-7">
			<h2 class="h1 font-weight-light">
				GourmetOM8®
			</h2>
			<p>{% trans 'Mermeladas artesanales de frutas tropicales con Agavezucar®: HigOM8 GuayabOM8, JamaicOM8, MangOM8, FrezarOM8.' %}</p>
		</div>
		<div class="row">
			<div class="col-12 col-lg-6 mb-3 text-center mt-5">
				<img src="{% static 'images/products/mermeladas.png'%}" width="100%">
			</div>
			<div class="col-12 col-lg-6 text-center">
				<h3>{% trans 'Da click y compra' %}</h3>
				<div class="row mt-4">
					<div class="col-4">
						<a href="https://www.lacomer.com.mx/lacomer/doHome.action?succId=14&succFmt=100&pasId=513&artEan=7500462014810&ver=detallearticulo&opcion=detarticulo"
							target="_blank"><img src="{% static 'images/tiendas/lacomer.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.chedraui.com.mx/Departamentos/S%C3%BAper/Despensa/Mermeladas-y-Mieles/Mermeladas-y-Jaleas/Mermelada-OM8-Untable-de-Guayaba-284g/p/000000000003457725?siteName=Sitio+de+Chedraui"
							target="_blank"><img src="{% static 'images/tiendas/chedraui.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.lacomer.com.mx/lacomer/doHome.action?succId=14&succFmt=100&pasId=513&artEan=7500326718106&ver=detallearticulo&opcion=detarticulo"
							target="_blank"><img src="{% static 'images/tiendas/fresko.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.elpalaciodehierro.com/origenes-mexicanos-higo-untable-con-agavezucar-280-g-37582058.html"
							target="_blank"><img src="{% static 'images/tiendas/palaciodehierro.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.liverpool.com.mx/tienda/pdp/mermelada-de-higo-om8-284-g/1053424887"
							target="_blank"><img src="{% static 'images/tiendas/liverpool.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.sears.com.mx/producto/216501/mermelada-de-guayaba-con-agavezucar-284-g-om8/"
							target="_blank"><img src="{% static 'images/tiendas/sears.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://articulo.mercadolibre.com.mx/MLM-804139312-mermelada-de-jamaica-om8-con-agavezucar-280g-_JM#position=6&type=item&tracking_id=3976b2fd-dc65-4849-8a01-3fc86a2ecf52"
							target="_blank"><img src="{% static 'images/tiendas/mercadolibre.jpg'%}" width="50%"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="deliom" class="overlay-dark overlay-opacity-9 text-white bg-cover lazy">
	<div class="container z-index-1">
		<div class=" text-center mb-7">
			<h2 class="h1 font-weight-light">
				DeliOM8®
			</h2>
			<p>{% trans 'Untables y Squeezables con Agavezucar ® y superalimentos:'%} ChocOM8, AmarantOM8, CafeOM8, ChiaOM8.</p>
		</div>
		<div class="row">
			<div class="col-12 col-lg-6 mb-3 text-center">
				<img src="{% static 'images/products/deliom.png'%}" class="my-auto" width="100%">
			</div>
			<div class="col-12 col-lg-6 text-center">
				<h3>{% trans 'Da click y compra' %}</h3>
				<div class="row mt-4">
					<div class="col-4">
						<a href="https://www.lacomer.com.mx/lacomer/doHome.action?succId=14&succFmt=100&pasId=513&artEan=7500326718137&ver=detallearticulo&opcion=detarticulo"
							target="_blank"><img src="{% static 'images/tiendas/lacomer.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.claroshop.com/producto/1277194/nbspuntable-amaranto-con-agavezucar-235-g-om8/"
							target="_blank"><img src="{% static 'images/tiendas/sanborns.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.sears.com.mx/producto/216517/untable-cafe-con-agavezucar-235-g-om8/"
							target="_blank"><img src="{% static 'images/tiendas/sears.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://articulo.mercadolibre.com.mx/MLM-804143039-untable-amarant-om8-con-agavezucar-235g-_JM#position=11&type=item&tracking_id=77ff5eb7-c099-4e48-aa00-90b5a6af86c0"
							target="_blank"><img src="{% static 'images/tiendas/mercadolibre.jpg'%}" width="50%"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="nutriom" class="overlay-dark overlay-opacity-10 text-white bg-cover lazy">
	<div class="container z-index-1">
		<div class=" text-center mb-7">
			<h2 class="h1 font-weight-light">
				NutriOM8®
			</h2>

		</div>
		<div class="row">
			<div class="col-12 col-lg-6 mb-3 text-center">
				<img src="{% static 'images/products/nutriom.png'%}" width="80%">
			</div>
			<div class="col-12 col-lg-6 text-center">
				<h3>{% trans 'Da click y compra' %}</h3>
				<div class="row mt-4">
					<div class="col-4">
						<a href="https://www.lacomer.com.mx/lacomer/doHome.action?succId=14&succFmt=100&pasId=513&artEan=7500326532665&ver=detallearticulo&opcion=detarticulo"
							target="_blank"><img src="{% static 'images/tiendas/lacomer.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.chedraui.com.mx/Departamentos/S%C3%BAper/Despensa/Dulces-y-Chocolates/Gomas/Cocoa-Natural-OM8-en-Polvo-200g/p/000000000003457731?siteName=Sitio+de+Chedraui"
							target="_blank"><img src="{% static 'images/tiendas/chedraui.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.liverpool.com.mx/tienda/pdp/cocoa-soluble-om8-200-g/1053425590"
							target="_blank"><img src="{% static 'images/tiendas/liverpool.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://articulo.mercadolibre.com.mx/MLM-784928805-cafe-om8-200g-_JM#position=14&type=item&tracking_id=1b0295a2-3b82-4dc6-ade0-0db5b9ec6d65"
							target="_blank"><img src="{% static 'images/tiendas/mercadolibre.jpg'%}" width="50%"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="kitom" class="overlay-dark overlay-opacity-9 text-white bg-cover lazy">
	<div class="container z-index-1">
		<div class=" text-center mb-7">
			<h2 class="h1 font-weight-light">
				KitOM8®
			</h2>
			<p>{% trans 'Nuestra línea de Kits para los que quieren disfrutar de nuestra variedad de productos' %}</p>
		</div>
		<div class="row">
			<div class="col-12 col-lg-6 text-center mt-4 mb-4">
				<img src="{% static 'images/products/untablitos.png'%}" class="mx-auto" width="100%">
			</div>
			<div class="col-12 col-lg-6 text-center">
				<h3>{% trans 'Da click y compra' %}</h3>
				<div class="row mt-4">
					<div class="col-4">
						<a href="https://www.lacomer.com.mx/lacomer/doHome.action?succId=14&succFmt=100&pasId=513&artEan=7500326718144&ver=detallearticulo&opcion=detarticulo"
							target="_blank"><img src="{% static 'images/tiendas/lacomer.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.claroshop.com/producto/1277194/nbspuntable-amaranto-con-agavezucar-235-g-om8/"
							target="_blank"><img src="{% static 'images/tiendas/sanborns.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://articulo.mercadolibre.com.mx/MLM-804136819-kit-om8-de-mermeladas-y-untables-de-30g-_JM#position=21&type=item&tracking_id=6f4e4b77-eee6-4390-bf6c-7f8e30b528af"
							target="_blank"><img src="{% static 'images/tiendas/mercadolibre.jpg'%}" width="50%"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="powerom" class="overlay-dark overlay-opacity-10 text-white bg-cover lazy">
	<div class="container z-index-1">
		<div class=" text-center mb-7">
			<h2 class="h1 font-weight-light">
				PowerOM8®
			</h2>
			<p>{% trans 'Cremas de Agave con cacahuates diferenciados; alimentos para personas que tenemos poco tiempo para prepar alimentos, o que requerimos una carga de energía después de una larga jornada o ejercitarnos.'%}</p>
		</div>
		<div class="row">
			<div class="col-12 col-lg-6 mb-3 text-center">
				<img src="{% static 'images/products/powerom.png'%}" width="100%">
			</div>
			<div class="col-12 col-lg-6 text-center my-auto">
				<h3>{% trans 'Da click y compra' %}</h3>
				<div class="row mt-4">
					<div class="col-4 mt-1">
						<a href="https://www.elpalaciodehierro.com/om8-crema-energizante-de-chocolate-avellana-50-gr-40405822.html"
							target="_blank"><img src="{% static 'images/tiendas/palaciodehierro.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://www.liverpool.com.mx/tienda/pdp/crema-de-man%C3%AD-om8-50-g/1094366514"
							target="_blank"><img src="{% static 'images/tiendas/liverpool.jpg'%}" width="50%"></a>
					</div>
					<div class="col-4 mt-1">
						<a href="https://articulo.mercadolibre.com.mx/MLM-787101583-crema-miel-power-om8-super-energy-shots-50g-_JM#position=18&type=item&tracking_id=0bd13d13-78f3-4860-a170-13e9a0b34cc0"
							target="_blank"><img src="{% static 'images/tiendas/mercadolibre.jpg'%}" width="50%"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="stores" class="overlay-dark overlay-opacity-9 text-white bg-cover lazy">
	<div class="container">
		<h2 class="font-weight-light mb-5 text-center">
			{% trans 'Puntos de Venta' %}
		</h2>
		<div class="row">
			<div class="col-sm-12 col-md-8 col-lg-8 mb-5">
				<iframe src="https://www.google.com/maps/d/embed?mid=16jQWJ-IM_ErWeGvYlD_L1M6SHl6azE9p&hl=es-419"
					width="100%" height="580"></iframe>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4 mb-4">
				<div class="rounded bg-white shadow-xs d-flex">
					<div class="m-5 m-4-xs">
						<h3 class="font-weight-light text-primary h5 mb-4">
							Call Us
						</h3>
						<p class="m-0">
							<a href="tel:01555-88978" class="link-muted">+01 785-388-9450</a>
						</p>
						<p class="m-0">
							<a href="email:john.doe@gmail.com" class="link-muted">john.doe@gmail.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-gradient-light py-3">
	<div class="container">
		<div class="swiper-container" data-swiper='{
				"slidesPerView": 6,
				"spaceBetween": 8,
				"slidesPerGroup": 2,
				"loop": false,
				"autoplay": { "delay" : 2500, "disableOnInteraction": false },
				"breakpoints": {
					"1024": { "slidesPerView": "6" },
					"920": 	{ "slidesPerView": "4" },
					"640": 	{ "slidesPerView": "3" },
					"0": 	{ "slidesPerView": "2" }
				}
			}'>
			<div class="swiper-wrapper py-4"
				style="transform: translate3d(-392.667px, 0px, 0px); transition: all 600ms ease 0s;">
				<div class="swiper-slide" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/walmart.png' %}" alt="..."
						data-loaded="true">
				</div>
				<div class="swiper-slide swiper-slide-prev" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/superama.png' %}" alt="..."
						data-loaded="true">
				</div>
				<div class="swiper-slide swiper-slide-active" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/lacomer.png' %}" alt="..."
						data-loaded="true">
				</div>
				<div class="swiper-slide swiper-slide-next" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/chedraui.png' %}" alt="..."
						data-loaded="true">
				</div>
				<div class="swiper-slide" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/fresko.png' %}" alt="..."
						data-loaded="true">
				</div>
				<div class="swiper-slide" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/palacio.png' %}" alt="..."
						data-loaded="true">
				</div>
				<div class="swiper-slide" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/liverpool.png' %}"
						alt="..." data-loaded="true">
				</div>
				<div class="swiper-slide" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-4 lazy" src="{% static 'images/tiendas/brands/europea.png' %}" alt="..."
						data-loaded="true">
				</div>
				<div class="swiper-slide" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/sanborns.png' %}" alt="..."
						data-loaded="true">
				</div>
				<div class="swiper-slide" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/sears.png' %}" alt="..."
						data-loaded="true">
				</div>
				<div class="swiper-slide" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/sumesa.png' %}" alt="..."
						data-loaded="true">
				</div>
				<div class="swiper-slide" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/arteli.png' %}" alt="..."
						data-loaded="true">
				</div>
				<div class="swiper-slide" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/pacsadeli.png' %}" alt="..."
						data-loaded="true">
				</div>
				<div class="swiper-slide" style="width: 188.333px; margin-right: 8px;">
					<img class="max-h-60 opacity-9 lazy" src="{% static 'images/tiendas/brands/mercadolibre.png' %}" alt="..."
						data-loaded="true">
				</div>
			</div>

			<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
		</div>
	</div>
</section>
<section id="recipes" class="overlay-dark overlay-opacity-10 text-white bg-cover lazy">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-12 mb-2 text-center">
				<h2 class="font-weight-light mb-5">
					{% trans 'Recetas'%}</b>
				</h2>
			</div>
			<div class="col-sm-12 col-lg-4">
				<p>{% trans 'Crepas de Chocolate con Cocoa OM8' %} </p>
				<img src="{% static 'images/products/crepas.png' %}" alt="..."
						data-loaded="true" width="95%">
			</div>
			<div class="col-sm-12 col-lg-4">
				<p>{% trans 'Margarita con Mermelada de Mango OM8' %} </p>
				<img src="{% static 'images/products/margarita.png' %}" alt="..."
						data-loaded="true" width="95%">
			</div>
			<div class="col-sm-12 col-lg-4">
				<p>{% trans 'Crepas de Chocolate con Cocoa OM8' %} </p>
				<img src="{% static 'images/products/crepas.png' %}" alt="..."
						data-loaded="true" width="95%">
			</div>
		</div>
	</div>
</section>
<section id="section_contact" class="overlay-dark overlay-opacity-9 text-white bg-cover lazy">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-12 mb-2 text-center">
				<h2 class="font-weight-light mb-5">
					{% trans 'Contáctanos'%}</b>
				</h2>
			</div>
			<div class="col-12 col-lg-6 offset-3">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-success" role="alert">{{ message }}</div>
					{% endfor %}
				{% else %}
				<div id="contact_form">
					<form id="contactForm" enctype="multipart/form-data">
						{% csrf_token %}
						{% for field in form %}
						<div class="form-label-group mb-3">
							{{ field }}
							<label for="{{ field.name }}"> {{ field.label }} </label>
						</div>
						{% endfor %}
						<button type="submit" id="submitForm"  class="btn btn-primary btn-block">{% trans 'Enviar' %}</button>
					</form>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
<!-- /block : contact -->
{% endblock %}
{% block js %}
{% if form.g_recaptcha_response %}
        <script src="https://www.google.com/recaptcha/api.js?render={{ PUBLIC_KEY }}">
        </script>
        <script>
            $("form#contactForm").submit(function (e) {
                var btnText = ($('#submitForm').html());
                $('#submitForm').html('<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>');
                document.getElementById("submitForm").disabled = true;
                e.preventDefault();
                {% for field in form %}
                $("#{{ field.auto_id }}").removeClass("is-invalid");
                $("#error_{{ field.auto_id }}").empty();
                {% endfor %}
                grecaptcha.ready(function () {
                    grecaptcha.execute(
                        '{{ PUBLIC_KEY }}',
                        { action: 'recaptcha' }
                    ).then(function (token) {
                        document.getElementById("id_g_recaptcha_response").value = token;
                        var icon_error = '<i class="fa fa-exclamation-circle"></i> ';
                        var data = new FormData($('form#contactForm').get(0));
                        var req = $.ajax({
                            method: "POST",
                            url: "{% url 'home:home' %}",
                            cache: false,
                            processData: false,
                            contentType: false,
                            data: data,
                        });
                        req.fail(function (jqXHR, textStatus) {
                            location.reload();
                        });
                        req.done(function (data) {
                            if (data.to_json.ajax_response == true) {
                                window.location.replace("{% url 'home:home' %}");
                            }
                            else {
                                for (var i = 0; i < data.errors_dict.length; i++) {
                                    var form_id = data.errors_dict[i].form_id;
                                    $('#' + form_id).addClass('is-invalid');
                                    for (var j = 0; j < data.errors_dict[i].error.length; j++) {
                                        $('#error_' + form_id).append('<p style="margin:0">' + icon_error + data.errors_dict[i].error[j] + '</p>');
                                    }
                                }
                                document.getElementById("submitForm").disabled = false;
                                $('#submitForm').html(btnText);
                            }
                        });
                    });
                });
            });
        </script>
		{% endif %}
{% endblock %}